body {
  background-color: #03fc73;
}

header{
    margin: auto;
    background-color: #30cc10;
    width: 30%;
    border-radius: 10px;
}

h1 {
  color: purple;
  text-align: center;
}

#main {
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  height: 90%;
}
